# Sending emails with students' results

In [1]:
import smtplib
import base64
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

In [2]:
def send_mail(address, subject, msg='test', msgHTML = '<p>test</p>'):

    user = 'kjartan@tec.mx'
    passwd = base64.b64decode(b'VEUxcjFrLmEuMC5oLmM=')
    pwd = "".join( chr(x) for x in passwd)

    message = MIMEMultipart("alternative")
    message["Subject"] = subject
    message["From"] = user
    message["To"] = address

    # Turn these into plain/html MIMEText objects
    part1 = MIMEText(msg, "plain")
    part2 = MIMEText(msgHTML, "html")

    # Add HTML/plain-text parts to MIMEMultipart message
    # The email client will try to render the last part first
    message.attach(part1)
    message.attach(part2)

    mailserver = smtplib.SMTP('smtp.office365.com',587)
    mailserver.ehlo()
    mailserver.starttls()
    mailserver.login(user, pwd)
    header = 'To:' + address + '\n' 
    header += 'From: ' + user + '\n' 
    header += 'Subject:' + subject +'\n'
    print(header)
    msgbody = header + '\n' + msg + '\n\n'
    mailserver.sendmail(user, address, message.as_string())
    mailserver.quit()

In [3]:
send_mail('kjartan.halvorsen@gmail.com', 'Test igjen', 'Hej')

To:kjartan.halvorsen@gmail.com
From: kjartan@tec.mx
Subject:Test igjen

## Load excel file extract relevant rows and send in email

In [5]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [22]:
fname = '/home/kjartan/Dropbox/undervisning/tec/MR2007/HT2019/MR2007-grades.xlsx'
fname = '/home/kjartan/tec/mr3028/ht2019/MR3028-grades.xls'
fname = '/home/kjartan/Dropbox/undervisning/tec/TE3045/HT2019/TE3045-grades.xls'
fname = '/home/kjartan/Dropbox/undervisning/tec/MR2015/spring2020/MR2015-2-grades.xls'
fname = '/home/kjartan/Dropbox/undervisning/tec/MR2015/spring2020/MR2015-1-grades.xls'
subject = 'Final grade for Process Automation Laboratory'

In [27]:
df = pd.read_excel(fname, sheet_name='Sheet1')

print("Column headings:")
print(df.columns)

Column headings:
Index(['Indice', 'Programa Académico', 'Matrícula', 'Nombre', 'T1', 'T2',
       'Proj report', 'Exam Quiz', 'Exam Vid', '1P', 'T3', 'T4', 'T5',
       'Proj report.1', 'Exam Quiz.1', 'Exam Vid.1', '2P', 'T6', 'T7',
       'Proj presentation', 'Proj report.2', 'Total'],
      dtype='object')

In [28]:
df['Matrícula']

0        Weight
1     A01169869
2     A01371506
3     A01371540
4     A01372654
5     A01373192
6     A01373330
7     A01373724
8     A01374284
9     A01376127
10    A01377497
11    A01377998
12    A01378509
Name: Matrícula, dtype: object

In [29]:
df.loc[(df.Matrícula == "A01376209") | (df.Matrícula == "Weight")]

,Indice,Programa Académico,Matrícula,Nombre,T1,T2,Proj report,Exam Quiz,Exam Vid,1P,...,T5,Proj report.1,Exam Quiz.1,Exam Vid.1,2P,T6,T7,Proj presentation,Proj report.2,Total
0,NaN,NaN,Weight,NaN,0.05,0.08,0.06,0.04,0.04,NaN,...,0.05,0.06,0.04,0.04,NaN,0.06,0.05,0.15,0.15,1.0

In [30]:
from IPython.display import HTML
tabellinfo = '<pd><table>'
for key, desc in [('T1', 'Report intro-lab'),
                  ('T2', 'Report lab 2 and 3, circuits and dynamics'),
                  ('T3', 'Report lab 4 and 5, PID control'),
                  ('T4', 'Report lab 6, digital logic'),
                  ('T5', 'Report lab 7, pneumatics'),
                  ('T6', 'Report lab 8, ladder diagrams electro-pneumatics'),
                  ('T7', 'PI & D video assignment')]:
    tabellinfo += '<tr><td>' + key + '</td>' + '<td>' + desc + '</td></tr>'
tabellinfo += '</table></pd>'
display(HTML(tabellinfo))

In [31]:
for index, row in df.iterrows():
    m = row['Matrícula']
    name = row['Nombre']
    if m[0] == 'A':
        address = m + '@itesm.mx'
        #print(address)
        #address = 'kjartan.halvorsen@gmail.com'
        html = "<p>Hi,</p> "
        #html += "<p>Sorry for spamming. There was a mistake in the calculation of the final grade. See updated table below.</p>"
        html += "<p>Thanks a lot for your effort during the course this semester!</p>"
        html += "<p>If you want to discuss the grade, please contact me using Remind or email. </p>"
        html += "<p> Take care! Best regards, Kjartan</p><p></p>"
        html += "<p>These are your results. The first row shows the weighting. The final grade is in the second row, last column</p>"
        html += df.loc[(df.Matrícula == m) | (df.Matrícula == "Weight")].to_html()
        html += tabellinfo
        alt = 'Your results'
        send_mail(address, subject, alt, html)

To:A01169869@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01371506@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01371540@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01372654@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01373192@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01373330@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01373724@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01374284@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01376127@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01377497@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01377998@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

To:A01378509@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Process Automation Laboratory

## Test

In [22]:
html = "<p>Hi,</p> <p>Thanks a lot for your effort in the course this semester!</p>"
html += "<p>These are your results</p>"
html += df.loc[(df.Matrícula == "A01372526") | (df.Matrícula == "Weight")].to_html()
alt = 'Your results'
send_mail('kjartan.halvorsen@gmail.com', 'Final grade', alt, html)

To:kjartan.halvorsen@gmail.com
From: kjartan@tec.mx
Subject:Final grade