# Sending emails with students' results

In [1]:
import smtplib
import base64
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

In [2]:
def send_mail(address, subject, msg='test', msgHTML = '<p>test</p>'):

    user = 'kjartan@tec.mx'
    passwd = base64.b64decode(b'VEUxcjFrLmEuMC5oLmM=')
    pwd = "".join( chr(x) for x in passwd)

    message = MIMEMultipart("alternative")
    message["Subject"] = subject
    message["From"] = user
    message["To"] = address

    # Turn these into plain/html MIMEText objects
    part1 = MIMEText(msg, "plain")
    part2 = MIMEText(msgHTML, "html")

    # Add HTML/plain-text parts to MIMEMultipart message
    # The email client will try to render the last part first
    message.attach(part1)
    message.attach(part2)

    mailserver = smtplib.SMTP('smtp.office365.com',587)
    mailserver.ehlo()
    mailserver.starttls()
    mailserver.login(user, pwd)
    header = 'To:' + address + '\n' 
    header += 'From: ' + user + '\n' 
    header += 'Subject:' + subject +'\n'
    print(header)
    msgbody = header + '\n' + msg + '\n\n'
    mailserver.sendmail(user, address, message.as_string())
    mailserver.quit()

In [ ]:
send_mail('kjartan.halvorsen@gmail.com', 'Test igjen', 'Hej')

## Load excel file extract relevant rows and send in email

In [3]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [4]:
fname = '/home/kjartan/Dropbox/undervisning/tec/MR2007/HT2019/MR2007-grades.xlsx'
fname = '/home/kjartan/tec/mr3028/ht2019/MR3028-grades.xls'
fname = '/home/kjartan/Dropbox/undervisning/tec/TE3045/HT2019/TE3045-grades.xls'
subject = 'Final grade for Robotics Project'

In [12]:
df = pd.read_excel(fname, sheet_name='Sheet1')

print("Column headings:")
print(df.columns)

Column headings:
Index(['Indice', 'Programa Académico', 'Matrícula', 'Nombre', 'T1', 'T2',
       'Lab journal', 'Quiz 1', 'Quiz 2', 'Proj rep 1', '1P', 'T3', 'Quiz 3',
       'Proj journal', 'Lab journal.1', '2P', 'Proj rep 2', 'T4', 'Quiz 4',
       'Proj Journal', 'Proj eval', 'Proj rep', 'Ind Qs', 'Course grade',
       'Semana I', 'Final grade'],
      dtype='object')

In [13]:
df['Matrícula']

0       Weight
1    A01371577
2    A01376209
3    A01376890
4    A01376891
5    A01377411
6          NaN
Name: Matrícula, dtype: object

In [14]:
df.loc[(df.Matrícula == "A01376891") | (df.Matrícula == "Weight")]

,Indice,Programa Académico,Matrícula,Nombre,T1,T2,Lab journal,Quiz 1,Quiz 2,Proj rep 1,...,Proj rep 2,T4,Quiz 4,Proj Journal,Proj eval,Proj rep,Ind Qs,Course grade,Semana I,Final grade
0,NaN,NaN,Weight,NaN,0.06,0.07,0.02,0.02,0.02,0.05,...,0.1,0.07,0.02,0.05,0.23,0.15,0.02,1.00,NaN,NaN
4,4.0,IME11,A01376891,Rodrigo Gabriel Ramos Hernández,98.00,95.00,0.00,100.00,90.00,80.00,...,83.0,100.00,50.00,80.00,86.00,90.00,72.00,84.15,5.0,84.9425

In [15]:
for index, row in df.iterrows():
    m = row['Matrícula']
    if m[0] == 'A':
        address = m + '@itesm.mx'
        #print(address)
        
        html = "<p>Hi,</p> "
        html += "<p> OBS: Correction to weighting of Semana-i. Disregard previous messages. </p>"
        html += "<p>Thanks a lot for your effort during the course this semester!</p>"
        html += "<p>If you want to discuss the grade, please come to the "
        html += "Edificio de Profesores at 12:30 today Tuesday Dec 3. Or drop me a mail.</p>"
        html += "<p> Take care! Best regards, Kjartan</p><p></p>"
        html += "<p>These are your results. The grading of the final presentation "
        html += "consists of the grade in 'Proj eval' and 'Ind Qs' (individual questions). "
        html += " The weight of each grade is given, and the final grade is in the last column</p>"
        html += df.loc[(df.Matrícula == m) | (df.Matrícula == "Weight")].to_html()
        alt = 'Your results'
        send_mail(address, subjectt, alt, html)

To:A01371577@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Control Laboratory

To:A01376209@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Control Laboratory

To:A01376890@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Control Laboratory

To:A01376891@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Control Laboratory

To:A01377411@itesm.mx
From: kjartan@tec.mx
Subject:Final grade for Control Laboratory

TypeError: 'float' object is not subscriptable

In [22]:
html = "<p>Hi,</p> <p>Thanks a lot for your effort in the course this semester!</p>"
html += "<p>These are your results</p>"
html += df.loc[(df.Matrícula == "A01372526") | (df.Matrícula == "Weight")].to_html()
alt = 'Your results'
send_mail('kjartan.halvorsen@gmail.com', 'Final grade', alt, html)

To:kjartan.halvorsen@gmail.com
From: kjartan@tec.mx
Subject:Final grade